@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
  color: #000;
}

button {
  border: none;
  cursor: pointer;
}

input {
  outline: none;
  border: none;
}

.Cart:hover>.btnCart {
  display: flex !important;
}


.slick-dots {
  display: flex !important;
  gap: 20px;
  justify-content: center;
  bottom: 10px;
}

.slick-dots button {
  width: 20px !important;
  border-radius: 50% !important;
  background-color: #FFFFFF !important;
}

.slick-dots li button:before {
  color: #FFFFFF;
}

.slick-dots li.slick-active button:before {
  color: #ea1f1f;
  font-size: 17px;
  margin-top: 1.7px;
}


.blocke:hover {
  background: #DB4444;
  color: #FFFFFF;
}